/* Reset some default styles */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #cfcfcf;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

/* Header styles */
header {
    background-color: #cfcfcf;
    color: #fff;
    padding: 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo img {
    width: 150px;
    height: auto;
}

.menu {
    display: flex;
}

.menu a {
    color: #302c5c;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
    transition: color 0.3s ease-in-out;
}

.menu a:hover {
    color: gold;
}

/* Content styles */
.contentTitle, .content {
    margin: 30px;
}

.contentTitle {
    padding: 15px;
    background-color: #dbdbdb;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h1, .content h2, .content h3 {
    color: #302c5c;
}

.contentBody {
    display: flex;
    align-items: center;
}

.contentBody img {
    margin-left: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#contentParagraph {
    width: 60%;
}


footer {
    background-color: #302c5c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

#Quicklinks,
#Contact {
    display: flex;
    text-align: left;
    justify-content: center;
}

#Quicklinks ul,
#Contact ul {
    list-style-type: none;
}

#Quicklinks h3,
#Quicklinks a,
#Contact h4,
#Contact a {
    color: white;
    text-decoration: none;
}

#Quicklinks a:hover,
#Contact a:hover {
    color: gold;
}

#Contact p4 {
    font-size: smaller;
}

#Contact img {
    margin-right: 10px;
}

#Contact li {
    font-size: smaller;
}


#shortcourses-container a {
    text-decoration: none; 
    color: inherit;  
    margin-left: 10px; 
    align-items: center;
}


#undergrad-container a {
    text-decoration: none; 
    color: inherit;  
    margin-left: 10px; 
    align-items: center;
}

#grad-container a {
    text-decoration: none; 
    color: inherit;  
    margin-left: 10px; 
    align-items: center;
}


#shortcourses-container a:hover {
    border-color: limegreen;
}

#undergrad-container a:hover {
    border-color: limegreen;
}


