header {
    background-color: #cfcfcf;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: block;
    position: relative;
    top: 7px;
    right: 50px;
    background-color: transparent;
    padding: 15px;
}

.menu a {
    color: #302c5c;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow: auto;
}

.menu a:hover {
    color: #ffffff;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

body {
    margin-left: 100px;
   margin-right: 100px;
    align-items: center;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #cfcfcf;
}

.contentBody {
   display:flex;
   align-items: center;
}

.contentBody img {
    margin-left: 10px;
    margin-right: 10px;

}

#contentParagraph {
    width : 48%;
}

.contentTitle {
    justify-content: space-between;
    align-items: center;
    padding: 13px;
    background-color: #dbdbdb;
}
.contentTitle , .content {
    margin-left: 30px;
   margin-right: 30px;
    align-items: center;

}


.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 16px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}



#event {
    display: flex;
    margin-bottom: 20px; /* Adjust this margin as needed */
}

#event img {
    max-width: 100%;
    height: auto;
}

#event div {
    margin-left: 20px; 


#footer {
    background-color: #302c5c;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffff;
    text-decoration: none;
    padding-bottom: 0;
    margin-bottom: 0;
}

#Quicklinks,
#Contact {
    display: flex;
    text-align: left;
    justify-content: center;
}

#Quicklinks ul,
#Contact ul {
    list-style-type: none;
}

#Quicklinks h3,
#Quicklinks a,
#Contact h4,
#Contact a {
    color: white;
    text-decoration: none;
}

#Quicklinks a:hover,
#Contact a:hover {
    color: gold;
}

#Contact p4 {
    font-size: smaller;
}

#Contact img {
    margin-right: 10px;
}

#Contact li {
    font-size: smaller;
}
